*.txt
*.pem
*.key
*.crt
*.yaml
*.yml
config/config.yaml
fastf1_cache/
*.ff1pkl
*.sqlite
f1-dp-ml/

# Python virtual environment
venv/
.env/
__pycache__/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/