# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =====================
# Virtual environments
# =====================
.venv/
venv/
env/
f1-dp-ml/

# =====================
# Environment & secrets
# =====================
.env
.env.*
*.env
*.key
**/.env
**/.env.*
.env
data/scripts/.env

# =====================
# Local data (derived)
# =====================
data/bronze/
data/silver/
data/gold/

# =====================
# FastF1 cache
# =====================
fastf1_cache/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# Temporary files
# =====================
tmp/
*.tmp
